<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<title>Login</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=11" />
<!-- Favicons -->


   <script src="assets/js/jquery-1.11.1.min.js"></script>
    <script src="assets/js/libs/angular.js"></script>
      <script src="assets/js/libs/angular-route.js"></script>
     <script src="assets/js/libs/angular-ui-router.js"></script>
    <script src="assets/js/libs/ocLazyLoad.js"></script>
    <script src="assets/js/libs/ui-bootstrap.js"></script>
    <script src="assets/js/libs/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="assets/js/libs/angular-cookies.js"></script>





<!-- angular js -->

<script src="assets/js/modernizr.custom.js"></script>
    <script src="assets/js/config/app.js"></script>
    <script src="assets/js/services/util_factory.js" ></script>
	<script src="assets/js/ctrl/signin_ctrl.js" ></script>

<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css">
<!-- HELPERS -->
<link rel="stylesheet" type="text/css" href="assets/helpers/animate.css">

<link rel="stylesheet" type="text/css" href="assets/helpers/border-radius.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/grid.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/spacing.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/typography.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/utils.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/colors.css">
<!-- ELEMENTS -->
<link rel="stylesheet" type="text/css" href="assets/elements/badges.css">
<link rel="stylesheet" type="text/css" href="assets/elements/buttons.css">
<link rel="stylesheet" type="text/css" href="assets/elements/content-box.css">
<link rel="stylesheet" type="text/css" href="assets/elements/dashboard-box.css">
<link rel="stylesheet" type="text/css" href="assets/elements/forms.css">
<link rel="stylesheet" type="text/css" href="assets/elements/images.css">
<link rel="stylesheet" type="text/css" href="assets/elements/info-box.css">
<link rel="stylesheet" type="text/css" href="assets/elements/loading-indicators.css">
<link rel="stylesheet" type="text/css" href="assets/elements/menus.css">
<link rel="stylesheet" type="text/css" href="assets/elements/panel-box.css">
<link rel="stylesheet" type="text/css" href="assets/elements/response-messages.css">
<link rel="stylesheet" type="text/css" href="assets/elements/responsive-tables.css">
<link rel="stylesheet" type="text/css" href="assets/elements/ribbon.css">
<link rel="stylesheet" type="text/css" href="assets/elements/tables.css">
<link rel="stylesheet" type="text/css" href="assets/elements/tile-box.css">
<link rel="stylesheet" type="text/css" href="assets/elements/timeline.css">
<!-- ICONS -->
<link rel="stylesheet" type="text/css" href="assets/icons/fontawesome/fontawesome.css">
<link rel="stylesheet" type="text/css" href="assets/icons/linecons/linecons.css">
<link rel="stylesheet" type="text/css" href="assets/icons/spinnericon/spinnericon.css">

<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

<!-- APPLICATIONS -->
<link rel="stylesheet" type="text/css" href="assets/applications/mailbox.css">
<!-- Admin theme -->
<link rel="stylesheet" type="text/css" href="assets/themes/admin/layout.css">
<link rel="stylesheet" type="text/css" href="assets/themes/admin/color-schemes/default.css">
<!-- Components theme -->
<link rel="stylesheet" type="text/css" href="assets/themes/components/default.css">
<link rel="stylesheet" type="text/css" href="assets/themes/components/border-radius.css">
<!-- Admin responsive -->
<link rel="stylesheet" type="text/css" href="assets/helpers/responsive-elements.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/admin-responsive.css">
<!-- JS Core -->
<script type="text/javascript" src="assets/js-core/jquery-core.js"></script>
<script type="text/javascript" src="assets/js-core/jquery-ui-core.js"></script>
<script type="text/javascript" src="assets/js-core/jquery-ui-widget.js"></script>
<script type="text/javascript" src="assets/js-core/jquery-ui-mouse.js"></script>
<script type="text/javascript" src="assets/js-core/jquery-ui-position.js"></script>
<!--<script type="text/javascript" src="../../assets/js-core/transition.js"></script>-->
<script type="text/javascript" src="assets/js-core/modernizr.js"></script>
<script type="text/javascript" src="assets/js-core/jquery-cookie.js"></script>
<script type="text/javascript">
       // $(window).load(function(){
          //  setTimeout(function() {
         //       $('#loading').fadeOut( 400, "linear" );
         //   }, 300);
      //  });
    </script>
</head>
<body ng-app="myApp" ng-controller="signin">
<div class="loader" data-loadingss id="loadingss"><i class="fa fa-refresh fa-spin fa-fw"></i> Loading...</div>
<style type="text/css">

    html,body {
        height: 100%;
        background: #fff;
    }
	.loader
	{
	position:absolute;
	left:47%;
	top:0px;
	padding:10px;
	background:#FFCC00;
	color:#333333;
	-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
	}

</style>

<div class="center-vertical">
  <div class="center-content row">
    <form action="#" id="login-validation" class="col-md-4 col-sm-5 col-xs-11 col-lg-3 center-margin"  method="">
      <h3 class="text-center pad25B font-gray text-transform-upr font-size-23"></h3>
      <div id="login-form" class="content-box bg-default" style="background:rgb(232, 249, 255)">
        <div class="content-box-wrapper pad20A"> <img src="assets/images/logo-adventus.png" alt="" width="245" height="42" class="mrg25B center-margin  display-block">
          <div class="form-group">
            <div class="input-group"> <span class="input-group-addon addon-inside bg-gray">  </span>
              <input type="text"  ng-model="userId" style="padding-left:15px;" class="form-control" id="exampleInputEmail1" placeholder="Enter Username">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group"> <span class="input-group-addon addon-inside bg-gray">  </span>
              <input type="password" ng-model="password" style="padding-left:15px;" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          </div>
		  <div class="form-group">
            <div class="input-group"> 
             <select ng-model="company"  class="form-control" ><option>--Select DB--</option>
							<option ng-repeat="d in companylist" value="{{d.U_DBName}}" ng-selected="d.U_DBName==company">{{d.U_CompName}}</option>
							</select>
            </div>
          </div>
          <div class="form-group">
           <button type="button" class="btn btn-block btn-primary" ng-click="checklogin();">Login</button>
          </div>
          <div class="row">
            <div class="checkbox-primary col-md-6" style="height: 20px;">
              
            </div>
            
          </div>
        </div>
      </div>
      
    </form>
  </div>
</div>
<!-- WIDGETS -->
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.js"></script>
<!-- Bootstrap Dropdown -->
<!-- <script type="text/javascript" src="../../assets/widgets/dropdown/dropdown.js"></script> -->
<!-- Bootstrap Tooltip -->
<!-- <script type="text/javascript" src="../../assets/widgets/tooltip/tooltip.js"></script> -->
<!-- Bootstrap Popover -->
<!-- <script type="text/javascript" src="../../assets/widgets/popover/popover.js"></script> -->
<!-- Bootstrap Progress Bar -->
<script type="text/javascript" src="assets/widgets/progressbar/progressbar.js"></script>
<!-- Bootstrap Buttons -->
<!-- <script type="text/javascript" src="../../assets/widgets/button/button.js"></script> -->
<!-- Bootstrap Collapse -->
<!-- <script type="text/javascript" src="../../assets/widgets/collapse/collapse.js"></script> -->
<!-- Superclick -->
<script type="text/javascript" src="assets/widgets/superclick/superclick.js"></script>
<!-- Input switch alternate -->
<script type="text/javascript" src="assets/widgets/input-switch/inputswitch-alt.js"></script>
<!-- Slim scroll -->
<script type="text/javascript" src="assets/widgets/slimscroll/slimscroll.js"></script>
<!-- Slidebars -->
<script type="text/javascript" src="assets/widgets/slidebars/slidebars.js"></script>
<script type="text/javascript" src="assets/widgets/slidebars/slidebars-demo.js"></script>
<!-- PieGage -->
<script type="text/javascript" src="assets/widgets/charts/piegage/piegage.js"></script>
<script type="text/javascript" src="assets/widgets/charts/piegage/piegage-demo.js"></script>
<!-- Screenfull -->
<script type="text/javascript" src="assets/widgets/screenfull/screenfull.js"></script>
<!-- Content box -->
<script type="text/javascript" src="assets/widgets/content-box/contentbox.js"></script>
<!-- Overlay -->
<script type="text/javascript" src="assets/widgets/overlay/overlay.js"></script>
<!-- Widgets init for demo -->
<script type="text/javascript" src="assets/js-init/widgets-init.js"></script>
<!-- Theme layout -->
<script type="text/javascript" src="assets/themes/admin/layout.js"></script>
<!-- Theme switcher -->
<script type="text/javascript" src="assets/widgets/theme-switcher/themeswitcher.js"></script>
</body>

</html>
